@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  margin: 0;
  min-width: 350px;
  min-height: 400px;
  background-color: #ffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, 'Agency FB', arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('assets/images/plus-dark-pattern.png'), url('assets/images/elipse-home-slide.png'), url('assets/images/elipse-light.png'), url('assets/images/plus-light-pattern.png');
  background-repeat: no-repeat;
  background-size: auto, 600px, 300px, auto;
  background-position: top right, left bottom, top left, bottom left;
}

@font-face {
  font-family: 'Pokemon Hollow Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Hollow Normal'), url('./assets/fonts/Pokemon\ Hollow.woff') format('woff');
}

@font-face {
  font-family: 'Pokemon Solid Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Solid Normal'), url('./assets/fonts/Pokemon\ Solid.woff') format('woff');
}
